html {
/*  background-image: url(assets/cartwhite.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;*/
}


body {
/*  margin-left: 17%;
  margin-right: 17%;*/
  margin-top: 1%;
  opacity: 0.95;
  background-color: transparent;

}

body .bg {
  overflow: hidden;
  position: fixed;
  transform: translateY(50%);
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url(assets/cartwhite.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.font--heading, h1 {
  font-family: 'Oswald', sans-serif;
}

.font--body, p {
  font-family: 'Quattrocento', serif;
}

.items, .delivery-address {
  padding: 3px;
}

.detail-header {
  display: flex;
  justify-content: space-between;
}

.top-logo {
  text-align: center;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  padding: 4px;
}

.top-nav-left, .top-nav-right {
  display: inline-flex;
}

.signup-outer, .signin-outer {
  /*background-color: steelblue;*/
  padding: 20px;
  text-align: center;
}

.signin-inner {
  background-color: ghostwhite;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  right: 50px;
}

.signup-field, .signin-field {
  padding-bottom: 3px;
}

.contents-container {
  padding: 10px;
}

.top-nav-button {
  margin: 2px;
}

#map_canvas {
  height: 500px;
  width: 100%;
}

/*CUSTOM CSS*/

.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hide {
  visibility: visible;
}

.show {
  visibility: initial;
}

/*CUSTOM DEFAULT BOOSTRAP CSS*/

.fadeaway {
  animation: slidein .3s ease-out;
  animation-fill-mode: forwards;
}

@keyframes slidein {
  0% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fade {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(50%);
  }
}

.jumbotron {
  margin-bottom: 0px;
}

/***************/
/*mylists.html*/

.mylist, .all-lists, .jobs {
  margin-left: 17%;
  margin-right: 17%;
}

.collabForm {
  position: absolute;
  margin-top: 10px;
  margin-left: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.collabLabel {
  position: absolute;
  margin-left: 10px;
  font-size: .8em;
}

/***************/
/*signin.html*/

.frontCopy {
  position: absolute;
  margin-top: 10%;
  width: 100%;
}

.frontCopy p {
  font-size: 2em;
}

.field--signup {
  border-radius: 5px;
  padding: 10px;
}

@media (max-width: 760px) and (orientation: portrait) {
  body .bg {
    background-size: contain;
  }

  .frontCopy, .signin-inner {
    position: initial;
  }

  .top-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    width: 150px;
  }

  .logo-bg {
    background-color: white;
    height: 50px;
    width: inherit;
    z-index: -1;
    position: absolute;
    border-radius: 10px;
    opacity: .5;
  }

  body {
    background-color: transparent;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

/* WebKit and Opera browsers */
@-webkit-keyframes spinner {
  from { -webkit-transform: rotateY(0deg);    }
  to   { -webkit-transform: rotateY(-360deg); }
}

/* all other browsers */
@keyframes spinner {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}

#stage {
  margin: 1em auto;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  perspective: 1200px;
}

#spinner {
  -webkit-animation-name: spinner;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;

  animation-name: spinner;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 2s;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}