<div class="adminPanel">
  <h1>CrowdCart Admin Panel</h1>

  <div ng-click="getAllUsers()" class="btn pull-right btn-primary btn-default active">All Users</div>
  <div ng-click="getAllLists()" class="btn pull-right btn-primary btn-default active">All Lists</div>
  <div ng-click="displayAnalytics()" class="btn pull-right btn-primary btn-default active">Dashboard</div>

  <div ng-show="showAllUsers" ng-repeat = "user in data.users" >
    <h3>{{"Username: "+user.username}}</h3>
    <p>{{"Address: "+user.address.street +", "+ user.address.city +", "+ user.address.state}}</p>
    <p>{{"First name: "+user.name.first}}</p>
    <p>{{"Last name: "+user.name.last}}</p>
    <p>{{"Verified? "+user.verified}}</p>
    <p>{{"Warning? "+user.warning}}</p>
    <p></p>
  </div>

  <div ng-show="showAllLists" ng-repeat = "list in data.lists" >
    <h3>{{"List name: "+list.name}}</h3>
    <p>{{"List offer price: "+list.offer_price}}</p>
    <p>ITEMS:</p>
    <p>{{list.items}}</p>
    <p>{{"Delivery address: "+list.delivery_address.street+", "+list.delivery_address.city+", "+list.delivery_address.state}}</p>
    <p>{{"Created at: "+list.created_at}}</p>
  </div>

  <div ng-show="showDashboard">
    <h2>Dashboard</h2>
    <h3>{{"Total users: "+ dashboardData.totalNumberOfUsers}}</h3>
    <h3>{{"Total lists: "+ dashboardData.totalNumberOfLists}}</h3>
    <h3 ng-click="showWarnings()">{{"Total warnings: "+ dashboardData.numberOfWarnings}} (click to show usernames)</h3>
    <div ng-repeat = "user in dashboardData.displayedWarningUsers">
      <p>{{user}}</p>
    </div>
    <div ng-click="showGraph()" class="btn pull-left btn-primary btn-default active">Graph lists vs time (last 24 hours)
    </div>

    <svg width="960" height="500"></svg>

  </div>

</div>